body{
    background-color: lightblue;
}
h1{
    text-align: center;
}
.mytext{
    width: 300px;
    border: 1px solid;
}
.mybutton{
    border: 1px solid;
    color: black;
    height: 25px;
    width: 100px;
    background-color: skyblue;
    
}